In [3]:
import pandas as pd
import numpy as np
names = [x for x in range(0,18)]
df = pd.read_csv("zoo.data", names=names)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
# no missing values.
df.isna().sum().sum()

0

In [5]:
#df_Y is the dataframe which includes the labels(classes) of the mushrooms.
df_Y = df[17]
df_Y

0      1
1      1
2      4
3      1
4      1
      ..
96     1
97     6
98     1
99     7
100    2
Name: 17, Length: 101, dtype: int64

In [6]:
# drop way for df_X.
df_X = df.drop(17,axis = 1)
df_X

           0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0    aardvark   1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1
1    antelope   1   0   0   1   0   0   0   1   1   1   0   0   4   1   0   1
2        bass   0   0   1   0   0   1   1   1   1   0   0   1   0   1   0   0
3        bear   1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1
4        boar   1   0   0   1   0   0   1   1   1   1   0   0   4   1   0   1
..        ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
96    wallaby   1   0   0   1   0   0   0   1   1   1   0   0   2   1   0   1
97       wasp   1   0   1   0   1   0   0   0   0   1   1   0   6   0   0   0
98       wolf   1   0   0   1   0   0   1   1   1   1   0   0   4   1   0   1
99       worm   0   0   1   0   0   0   0   0   0   1   0   0   0   0   0   0
100      wren   0   1   1   0   1   0   0   0   1   1   0   0   2   1   0   0

[101 rows x 17 columns]

In [7]:
df_X.dtypes

0     object
1      int64
2      int64
3      int64
4      int64
5      int64
6      int64
7      int64
8      int64
9      int64
10     int64
11     int64
12     int64
13     int64
14     int64
15     int64
16     int64
dtype: object

In [8]:
# one hot encoding using one hot encoding from sklearn and give us numpy array instantly.
from sklearn.preprocessing import OneHotEncoder
X = OneHotEncoder().fit_transform(df_X).toarray()
print(X)
# one hot encoding only one column using LabelBinarizer.
from sklearn.preprocessing import LabelEncoder
print(type(df_Y))
y = LabelEncoder().fit_transform(df_Y)

# make the column  to array.
y = y.ravel()
y

[[1. 0. 0. ... 0. 0. 1.]
 [0. 1. 0. ... 0. 0. 1.]
 [0. 0. 1. ... 0. 1. 0.]
 ...
 [0. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]]
<class 'pandas.core.series.Series'>

array([0, 0, 3, 0, 0, 0, 0, 3, 3, 0, 0, 1, 3, 6, 6, 6, 1, 0, 3, 0, 1, 1,
       0, 1, 5, 4, 4, 0, 0, 0, 5, 0, 0, 1, 3, 0, 0, 1, 3, 5, 5, 1, 5, 1,
       0, 0, 6, 0, 0, 0, 0, 5, 4, 6, 0, 0, 1, 1, 1, 1, 3, 3, 2, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 6, 3, 0, 0, 2, 6, 1, 1, 2, 6, 3, 1, 0, 6, 3, 1,
       5, 4, 2, 2, 3, 0, 0, 1, 0, 5, 0, 6, 1], dtype=int64)

In [9]:
print(X.shape)
y.shape

(101, 136)

(101,)

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [19]:
#x_train is the features matrix for training
#y_train is the labels for training
#x_test is test data
#y_test is test labels

#Support Vector Machine(SVM)
from sklearn import svm


svm_clf = svm.LinearSVC()
svm_clf.fit(x_train, y_train)

#K-NNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier

knn_clf = KNeighborsClassifier(n_neighbors=3)
knn_clf.fit(x_train, y_train)

#Multilayer Perceptron(MLP)
from sklearn.neural_network import MLPClassifier

mlp_clf = MLPClassifier(random_state=1, max_iter=300)
mlp_clf.fit(x_train, y_train)




#Evaluation 
from sklearn.metrics import accuracy_score

y_pred = knn_clf.predict(x_test)  #model ----> svm_clf, knn_clf, mlp_clf
print("knn {}".format(accuracy_score(y_test, y_pred)))
y_pred = mlp_clf.predict(x_test)  #model ----> svm_clf, knn_clf, mlp_clf
print("mlp {}".format(accuracy_score(y_test, y_pred)))
y_pred = svm_clf.predict(x_test)  #model ----> svm_clf, knn_clf, mlp_clf
print("svm {}".format(accuracy_score(y_test, y_pred)))

knn 0.9354838709677419
mlp 0.9354838709677419
svm 0.967741935483871